.header{
  margin: 2.5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

.header ul{
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.header li{
  list-style: none;
}


.header a{
  color: var(--black);
  text-decoration: none;
}

.itemNav{
  font-weight: 500;
}

.button{
  font-weight: 600;
  padding: .5rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--black);
}