
.intro{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin: 5rem 0;
  gap: 5rem;
}

.content{
  display: grid;
  align-content: center;
  gap: 1.5rem 0;
}

.content p{
  width: 80%;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.button{
  padding: 1rem;
  width: 40%;
  text-align: center;
  font-weight: 600;
  background: var(--red);
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
}

.image{
  display: grid;
  justify-content: flex-end;
}

.link{
  color: var(--red);
  font-weight: 500;
}

.recipesList{
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 5rem;
}

.recipes h2{
  text-align: center;
}

