
.intro{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin: 5rem 0;
  gap: 5rem;
}

.content{
  display: grid;
  align-content: center;
  gap: 1.5rem 0;
}

.content p{
  width: 80%;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.button{
  padding: 1rem;
  width: 40%;
  text-align: center;
  font-weight: 600;
  background: var(--red);
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
}

.image{
  display: grid;
  justify-content: flex-end;
}

.link{
  color: var(--red);
  font-weight: 500;
}

.recipesList{
  margin-top: 3.5rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 5rem;
}

.recipes h2{
  text-align: center;
}

.commentslist{
  margin: 3rem 0 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.location img{
  margin-top: 3rem;
  width: 100%;
}

.form{
  margin: 3.5rem 0;
  display: flex;
  justify-content: center;
}

.input{
  border-radius: 10px 0 0 10px;
  border-left:1px solid var(--black) ;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
}

.form input{
  padding: 1.25rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0;
  outline: none;
  width: 630px;
}

.form button{
  padding: 1.25rem 3.25rem;
  background: var(--red);
  color: var(--white);
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0 10px 10px 0;
}